.about-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, $black 0%,#{fade-out($black, .1)} 75%,#{fade-out($black, .2)} 100%);
  .about-avatar {
    width: 100px;
    height: auto;
    border-radius: 100%;
    margin: 0 0 20px;
  }
  p {
    margin-bottom: 5rem;
  }
}
