.about-section {
  padding: 15rem 0 10rem;
  background: $white;
  .about-avatar {
    width: 100px;
    height: auto;
    border-radius: 100%;
    margin: 0 0 20px;
    border: 0.2rem solid $primary;
    padding: 0.3rem;
  }
  h2, p {
    text-align: center;
  }
  p {
    margin-bottom: 5rem;
    color: lighten($black, 40%);
  }
}
