.contact-section {
  padding: 5rem 0;
  background: $white;
  .card {
    border: 0.2rem solid $primary;
    h4 {
      font-size: 0.8rem;
      font-family: $font;
      text-transform: uppercase;
      letter-spacing: 0.15rem;
    }
    hr {
      border-color: lighten($black, 70);
      border-width: 0.15rem;
      width: 3rem;
    }
  }
  .social {
    margin-top: 5rem;
    a {
      text-align: center;
      height: 3rem;
      width: 3rem;
      background: $black;
      border-radius: 100%;
      line-height: 3rem;
      color: $white;
      transition: background 0.5s;
      &:hover {
        background: lighten($black, 10);
      }
      &:active {
        background: $white;
      }
    }
  }
}
