.contact-section {
  padding: 5rem 0 0;

  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../img/bg-signup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  .card {
    border: 0;
    border-bottom: 0.25rem solid $primary;
    h4 {
      font-size: 0.8rem;
      font-family: 'Varela Round';
      text-transform: uppercase;
      letter-spacing: 0.15rem;
    }
    hr {
      border-color: $primary;
      border-width: 0.25rem;
      width: 3rem;
    }
  }
  .social {
    margin-top: 5rem;
    a {
      text-align: center;
      height: 3rem;
      width: 3rem;
      background: fade-out($white, 0);
      border-radius: 100%;
      line-height: 3rem;
      color: fade-out($black, 0.4);
      &:hover {
        color: fade-out($black, 0);
      }
      &:active {
        color: $white;
      }
    }
  }
}
