.projects-section {
  padding: 10rem 0;
  background: $white;
  border-top: 1px solid lighten($black, 70%);
  .projects-section__title {
    margin-bottom: 4rem;
  }
  .project__block {
    margin-bottom: 4rem;
  }
  .project__showcase {
    border-radius: 4px;
    transition: transform 0.3s, box-shadow 0.3s;
    &:hover {
      transform: translate(0, -0.8rem); 
      box-shadow: 0 10px 30px fade-out($black, .90);
    }
  }
  .featured-text {
    padding: 2rem;
    text-align: center;
    @media (min-width: 992px) {
      padding: 2rem 0 0;
    }
  }
  .project-text {
    padding: 3rem;
    font-size: 90%;
    @media (min-width: 992px) {
      padding: 5rem;
      hr {
        border-color: $primary;
        border-width: .25rem;
        width: 30%;
      }
    }
  }
}
