@import 'variables.scss';
@import 'mixins.scss';
@import 'navbar.scss';
@import 'masthead.scss';
@import 'buttons.scss';
@import 'about.scss';
@import 'projects.scss';
@import 'signup.scss';
@import 'contact.scss';

@font-face {
  font-family: Montserrat;
  src: url('font/Montserrat-Black.ttf')
       url('font/Montserrat-BlackItalic.ttf')
       url('font/Montserrat-Bold.ttf')
       url('font/Montserrat-BoldItalic.ttf')
       url('font/Montserrat-ExtraBold.ttf')
       url('font/Montserrat-ExtraBoldItalic.ttf')
       url('font/Montserrat-ExtraLight.ttf')
       url('font/Montserrat-ExtraLightItalic.ttf')
       url('font/Montserrat-Italic.ttf')
       url('font/Montserrat-Light.ttf')
       url('font/Montserrat-LightItalic.ttf')
       url('font/Montserrat-Medium.ttf')
       url('font/Montserrat-MediumItalic.ttf')
       url('font/Montserrat-Regular.ttf')
       url('font/Montserrat-SemiBold.ttf')
       url('font/Montserrat-SemiBoldItalic.ttf')
       url('font/Montserrat-Thin.ttf')
       url('font/Montserrat-ThinItalic.ttf');
}

body {
  font-family: $font;
  letter-spacing: 0.0625em;
}

a {
  color: $primary;
  transition: color 0.3s;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

footer {
  padding: 3rem 0;
  background: $gray-110 !important;
  border: 0;
  color: $gray-500;
}
